<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}">
  
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ '/public/css/poole.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/public/css/syntax.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/public/css/lanyon.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/public/css/custom.css' | relative_url }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700|PT+Sans:400">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ '/public/apple-touch-icon-precomposed.png' | relative_url }}">
  <link rel="shortcut icon" href="{{ '/public/favicon.ico' | relative_url }}">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ '/feed.xml' | relative_url }}">

  <!-- SEO -->
  {% if page.url == '/' %}
  <link rel="canonical" href="{{ site.url }}{{ page.url }}">
  {% endif %}
</head>
